@keyframes goodMove {
   from {
     transform: translateX(0);
   }
   50% {
     transform: translatex(300px);
   }
   100% {
     transform: translateX(0);
   }
  }
 .wrap {
    position: relative;
  }
 .square {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 40px;
    background: green;
    animation: goodMove 2s infinite ease-in-out;
  }
